html{
    font-size: 1rem;    
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: center;
    background-color: bisque;
    margin: 0;
    /* padding: 1rem 20rem 1rem 20rem; */
}
h2{
    font-size: 1.5rem;
}
figcaption{
    font-size: 1rem;
}
/* User Story #8: The img element should responsively resize, relative to the width of its parent element, without exceeding its original size. */
/* User Story #9: The img element should be centered within its parent element. */
ul{
    max-width: 55rem;
    margin: 0 auto 5rem auto;
    font-style: italic;
    text-align: left;
}
li{
    margin: 0.5rem;
}
a:link{
    color: blue;
}
a:visited{
    color: blueviolet;
}
a:hover{
    color: blue;
}
@media (max-width:600px){
    h2{
        font-size: 1.3rem;
    }
    #main{
        margin: 30px 8px;
        padding: 1rem;
    }
    #img{
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    #img-div{
        border-radius: 20%;
        margin: 0;
        padding: 10px;
    }
}