*{
    text-align: center;
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 25px;
}
p{
    font-size: 1.2em;
    margin: auto;
    max-width: 800px;
}
/* User Story #8: The img element should responsively resize, relative to the width of its parent element, without exceeding its original size. */
/* User Story #9: The img element should be centered within its parent element. */
#image{
    width: 250px;
    border-radius: 20%;
    max-width: 100%;
    height: auto;
}
a:link{
    color: blue;
}
a:visited{
    color: blueviolet;
}
a:hover{
    color: blue;
}
ul{
    list-style-type: none;
}