*{
    text-align: center;
    background-color: bisque;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
}
h2{
    font-size: 1.5rem;
}
p{
    margin: auto;
    max-width: 800px;
}
/* User Story #8: The img element should responsively resize, relative to the width of its parent element, without exceeding its original size. */
/* User Story #9: The img element should be centered within its parent element. */
#image{
    max-width: 100%;
    border-radius: 20%;
    height: auto;
    text-align: center;
}
a:link{
    color: blue;
}
a:visited{
    color: blueviolet;
}
a:hover{
    color: blue;
}
ul{
    list-style-type: none;
}